* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Poppins', sans-serif;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 85%;
    margin: 2.5% auto;
    max-width: 100%;
    height: auto;
}

.card-container{
    display: flex;
    background-color: #ccc;
    width: 48%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.card-container:hover{
    transform: scale(1.1);
}

.card-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-content h2{
    font-weight: 10px;
}

img{
    align-content: center;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    padding: 5px;
}

.links{
    text-decoration: none;
    color: black;
}