:root {
    --espacamento: 14px;
    --fonte-principal: "Poppins", sans-serif;
    --tamanho-fonte-pequeno: 12px;
    --tamanho-fonte-medio: 14px;
    --tamanho-fonte-grande: 16px;
    --cor-primaria: #1e3a8a;
    --cor-secundaria: #2f4fac;
    --cor-terciaria: #60a5fa;
    --cor-clara: #f6f6f6;
    --cor-escura: #333333;
    --cor-cinza: rgba(204, 204, 204, 0.45);
    --transicao: all 0.3s ease 0s;
    --sombra-caixa: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--fonte-principal);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 0 3%;
    position: relative;
    z-index: 1001;
}

.logo {
    width: 70px;
    height: 70px;
    padding: 5px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-right: 333px;
}

.search {
    display: flex;
    align-items: center;
    width: 200%;
    height: 66%;
    margin-top: 5%;
    padding: var(--espacamento);
    border-radius: 28px;
    background: var(--cor-clara);
    transition: box-shadow 0.25s;
    box-shadow: var(--sombra-caixa);
}

.search-input {
    font-size: var(--tamanho-fonte-grande);
    font-family: "Poppins", sans-serif;
    color: var(--cor-escura);
    margin-left: var(--espacamento);
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.25);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-secundaria);
    height: 30px;
}

.nav-itens {
    display: flex;
    list-style: none;
    gap: 200px;
    margin: 0;
    padding-bottom: 3px;
}

.nav-itens > li > a {
    text-align: center;
    color: var(--cor-clara);
    text-decoration: none;
    font-weight: 400;
    font-size: var(--tamanho-fonte-pequeno);
    transition: var(--transicao);
}

.nav-itens > li > a:hover {
    color: var(--cor-terciaria);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.footer > ul > li {
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }

    .header {
        padding-left: 25px;
        height: 60px;
        justify-content: space-between;
        position: relative;
        z-index: 1001;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 30px;
        height: 25px;
        justify-content: space-between;
        z-index: 1002;
    }

    .hamburger div {
        height: 4px;
        background-color: var(--cor-clara);
        transition: var(--transicao);
    }

    .hamburger:focus {
        outline: 2px solid var(--cor-terciaria);
    }

    .nav.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: var(--cor-secundaria);
        z-index: 1000;
    }

    .nav-itens {
        opacity: 0;
        display: none;
        transition: opacity 0.3s ease;
    }

    .nav.open .nav-itens {
        opacity: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .nav.open .nav-itens > li > a {
        display: flex;
        font-size: var(--tamanho-fonte-grande);
        color: var(--cor-clara);
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: left;
        padding-bottom: 20px;
        margin-right: 100px;
    }

    .search {
        display: flex;
        width: 100%;
        height: 35px;
        margin: 5%;
        border-radius: 28px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin-right: 30px;
    }
    .nav {
        display: flex;
        height: 0px;

    }
}
