footer{
width: 100%;
margin-top: auto;
padding: 1rem;
flex: 1;
min-height: 10vh;
flex: unset
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A;
    padding: 0% 3%;
}

.header>a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    flex-basis: 100px;
}

.logo{
    width: 70px;
    height: 70px;
    align-self: center;
    margin-left: 3%;
}

.search{
    --padding: 14px;
    display: flex;
    width: max-content;
    align-items: center;
    padding: var(--padding);
    padding: 7px;
    border-radius: 28px;
    background: #f6f6f6;
    width: 600px;
    transition: box-shadow 0.25s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.250);
}
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search:focus-within{
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.250);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search-input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.25);
}

.nav{
    display: flex;
    align-items: center;
    background-color: #2F4FAC;
    justify-content: space-around;
    height: 30px;
}
.nav-itens{
    display: flex;
    list-style: none;
    padding: 0%;
    gap: 180px;
}

.nav-itens>li>a{
    text-align: center;
    color: #f6f6f6;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.nav-itens>li>a:hover{
    color: #60a5fa;
}

.footer {
    display: flex;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.45);
    padding: 0% 3%; 
}

.fot-itens {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1%;
    gap: 280px;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.fot-itens > li > a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    transition: all 0.3s ease 0s;
    
}

.proposta_foot{
    font-size: 14px;
}

.fot-itens > li > a:hover {
    color: #60a5fa;
}

.caixa {
    position: relative;
    display: inline-block;
}

.caixa-menu {
    display: none;
    position: absolute;
    background-color: #2F4FAC;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0%;
    border-radius: 0% 0% 10px 10px;
    width: 100%;
    text-align: center;  
}

.caixa:hover .caixa-menu {
    display: block;
    border: #203d93 solid 1px;
    border-top: none;
    z-index: 1;
}

.caixa-menu li a {
    padding: 10px;
    width: 100%;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 0% 0% 10% 10%;
    font-size: 12px;
}

.caixa-menu li a:hover {
    color: #60a5fa;
}

