main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(204, 204, 204, 0.25);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  margin: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#graficoContainer {
  width: 900px;
  height: auto;
  margin: 1% 2%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 3%;
}

canvas {
  width: 100%;
  height: auto;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  padding-top: 0;
  align-items: center;
  background-color: #2f4eac;
  border-radius: 10px 10px 0px 0px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.navigation-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 5px;
  padding-top: 0;
}

.navigation-items > li > a {
  text-align: center;
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}

.navigation-items ul li {
  list-style: none;
}

.navigation-items > li > a:hover {
  color: #0073ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  border: none;
  text-align: center;
}

.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #2f4fac;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-menu li a {
  padding: 10px;
  width: 100%;
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease 0s;
}

.dropdown-menu li a:hover {
  color: #0073ff;
}

footer {
  background-color: rgba(204, 204, 204, 0.27);
  padding: 20px 0px;
  width: 100%;
  margin-top: 20px;
}

.desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  padding-top: 0%;
  margin: 1% 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 67%;
}
.desc p {
  font-weight: 400;
  font-size: 12px;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#descricao {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  justify-content: center;
  max-width: 600px;
  line-height: 10px;
  padding-top: 15px;
}
.date-filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2f4fac;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 5px;
  margin-right: 2.5%;
}


.date-filter-section select {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10% 10%;
}

#meuGrafico{
  width: auto; 
  height: auto;
}

@media (max-width: 768px) {
  *{
    font-size: 12px;
  }
  #graficoContainer{
      padding: 0;
      width: 50%;
      margin-top: 6%;
  }
  #meuGrafico{
    width: 100%;
    height: 500px;
  }
  
}
