:root {
  --fonte-principal: "Poppins", sans-serif;
  --cor-primaria: #1e3a8a;
  --cor-secundaria: #2f4fac;
  --cor-terciaria: #60a5fa;
  --cor-clara: #f6f6f6;
  --cor-escura: #333333;
  --sombra-caixa: 10px 10px 10px rgba(0, 0, 0, 0.25);
  --tamanho-texto-pequeno: 12px;
  --padding-button: 10px 15px;
  --radius-medio: 10px;
}

* {
  font-family: var(--fonte-principal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(204, 204, 204, 0.27);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-clara);
}

.carousel {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
}

/*.carousel-item {
  display: none;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
}*/

.carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.propostas-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 85%;
  margin: 8% auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.propostas-title {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.propostas {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: linear-gradient(to bottom, white 100%, rgba(255, 255, 255, 0) 100%);
  text-align: center;
}

.propostas h1 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 1%;
  background-color: var(--cor-primaria);
  color: var(--cor-clara);
  padding: var(--padding-button);
  font-size: var(--tamanho-texto-pequeno);
}

.button:hover {
  background-color: var(--cor-secundaria);
}

.footer {
  background-color: rgba(204, 204, 204, 0.27);
  padding: 20px 0;
  width: 100%;
}

@media (max-width: 768px) {
  .propostas-one {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 10% 2%;
  }

  .propostas-title h2 {
    display: flex;
    font-size: 14px;
    padding: 2px;
  }

  .carousel {
    min-height: 100px;
  }

  .carousel img {
    height: 135px;
  }
}
