body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.text-center {
    text-align: center;
}

.avatar-img {
    border-radius: 50%;
    border: solid 1px black;
    width: 150px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

span {
    display: block;
    margin-bottom: 10px;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.bg-secondary {
    background-color: #6c757d;
    color: #fff;
}

.b-divider {
    border-top: 1px solid #dee2e6;
    margin-top: 20px;
    padding-top: 20px;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
}