.item-filtro {
    display: flex;
    flex-direction: column;
}
input {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 5px; 
    transition: border-color 0.3s;
}
select {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #fff; 
    transition: border-color 0.3s;
    padding: 5px;
}
.espaço-completo {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
}
.botão-filtro {
    margin-top: 10px;
}
hr {
    border: 0;
    height: 1px; 
    background-color: #ddd; 
    margin: 15px 0; 
}
.resultados {
    flex-direction: column;
    display: flex;
    gap: 10px;
    background-color: white;   
    padding: 20px;             
    border: 1px solid #ddd;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    border-radius: 5px;        
    margin-bottom: 20px;
}
.filtros_ativos{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 0;
}
.container-relatorios{
    max-width: 85%;     
    margin: 2.5% auto 4% auto;
    padding: 0;        
}
.container-relatorios2{
    max-width: 85%;     
    margin: 1% auto 2.5% auto;
    padding: 0;        
}
.filtros {
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    gap: 0 80px;
    background-color: white;
    padding: 20px 80px;             
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;     
    margin-bottom: 20px;
}
button{
    background-color: #2F4FAC;
    color: #ffffff;
    border-radius: 8px;          
    padding: 6px 8px;         
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

body {
    background-color: #cccccc45;
    margin: 0;
    padding: 0;
}