*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(204, 204, 204, 0.27);
}
/* Informações Vereador */
.conteúdo-vereador{
    display: grid;
    grid-template-columns: 5fr 5fr;
    max-width: 85%;
    margin: 2.5% auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
}
.select{
    width: 100%;
    max-width: 700px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.chart{
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-height: 10vh;
    margin-top: 8%;
}
.img-vereador{
    width: 60%;
    max-width: 380px;
    height: auto;
    border-radius: 2%;
    margin: 3%;
}
.info-vereador{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 65%;
    padding: 1%;
    margin-left: 0.6%; 
}
/* section sobre o verador */
.sobre-vereador{
    grid-column: 1/3;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


/* Comentários */
.comentários{
    display: grid;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 85%;
    margin: auto;
    margin-bottom: 2%;
}
.caixa-comentário h3 {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
    margin: 2% 0 2% 0;
}
.lista-comentário {
    list-style-type: none;
    padding: 0;
}
.comentário {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.usuário {
    font-size: 0.9em;
    color: #888;
}
.texto-comentário {
    margin: 0 0 5px 0;
    color: #555;
}
/* Box para Comentários */
.box-comment {
    margin-bottom: 15px;
}
.box-comment label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.box-comment input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
    margin-top: 10px;
}
.button {
    background-color: #2F4FAC;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #1d3a7e; /* Cor mais escura no hover */
}
/* Avaliando o Candidato */
.avaliar{
    display: flex;
    align-items: center;
    gap: 25px;
}
.avaliação{display: flex}
.star-icon{
    list-style-type: none; 
    border: 1px solid #fff;
    cursor: pointer;
    color: #ffe500;  
    font-size: 25px;
}
.star-icon::before{content: '\2605' /* Código Estrela Preenchida */}
.star-icon.ativo ~ .star-icon::before{content: '\2606' /* Código Estrela Vazia */}
.avaliação:hover .star-icon::before{content: '\2605'}
.star-icon:hover ~ .star-icon::before{content: '\2606'}