:root {
  --fonte-principal: "Poppins", sans-serif;
  --cor-primaria: #2f4fac;
  --cor-secundaria: #1d3a7e;
  --cor-clara: #fff;
  --cor-sombra: rgba(0, 0, 0, 0.2);
  --sombra-suave: 0 0 10px var(--cor-sombra);
  --radius-medio: 10px;
  --tamanho-texto-pequeno: 12px;
  --padding-button: 10px 15px;
}

* {
  font-family: var(--fonte-principal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(204, 204, 204, 0.27);
}

.vereadores-geral {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 85%;
  margin: 2.5% auto;
}

.vereador {
  display: flex;
  flex-direction: column;
  font-size: var(--tamanho-texto-pequeno);
  background-color: var(--cor-clara);
  box-shadow: var(--sombra-suave);
  border-radius: var(--radius-medio);
}

.vereador > img {
  margin: 5% auto;
  border-radius: var(--radius-medio);
  background-color: var(--cor-clara);
  box-shadow: var(--sombra-suave);
  width: 70%;
}

.info-vereador > p {
  padding: 1%;
  margin-left: 2%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.button {
  background-color: var(--cor-primaria);
  color: var(--cor-clara);
  padding: var(--padding-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--tamanho-texto-pequeno);
}

.button:hover {
  background-color: var(--cor-secundaria);
}

footer {
  background-color: rgba(204, 204, 204, 0.27);
  padding: 20px 0px;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .vereadores-geral {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
