<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'headFH.html' %}
    <title>Contato Team Draco</title>
    <link rel="stylesheet" href="../static/css/draco.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
{% include 'header.html' %}

<main>
    <div class="cards">
        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotobia.jpeg">
            <div class="card-content">
                <h2>Ana Beatriz C.</h2><br>
                <a href="https://github.com/abeatrizdscoelho" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/abeatrizcoelho/" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotoana.jpeg">
            <div class="card-content">
                <h2>Ana J. Gaspar</h2><br>
                <a href="https://github.com/anajgaspar" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/ana-gaspar-957775325/" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotodécio.jpeg">
            <div class="card-content">
                <h2>Décio Souza</h2><br>
                <a href="https://github.com/Deciosouza" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/decio-souza-ba0740328/" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotoemmanuel.jpeg">
            <div class="card-content">
                <h2>Emmanuel Y.</h2><br>
                <a href="https://github.com/EmmanuelJYokoyama" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/emmanuelyokoyama/" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotogabriel.jpeg">
            <div class="card-content">
                <h2>Gabriel M.</h2><br>
                <a href="https://github.com/gbmedeiros00" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/gabriel-medeiros-516ab3325/" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotojoão.jpeg">
            <div class="card-content">
                <h2>João V. Silva</h2><br>
                <a href="https://github.com/joaovvsilva" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/jo%C3%A3o-vitor-ven%C3%A2ncio-da-silva-b0239819b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotolucas.jpeg">
            <div class="card-content">
                <h2>Lucas Marins</h2><br>
                <a href="https://github.com/lucasMarinsSantos" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>

        <div class="card-container">
            <img src="../static/images/fotosgrupo/fotomatheus.jpeg">
            <div class="card-content">
                <h2>Matheus R.</h2><br>
                <a href="https://github.com/Matheus-Roberto-Castro" class="links">
                    <i class="fa-brands fa-github" style="color: black;"></i> GitHub
                </a><br>
                <a href="https://www.linkedin.com/in/matheus-r-castro-70091a32b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="links">
                    <i class="fa-brands fa-linkedin" style="color: black;"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
</body>
</html>