<!-- Template footer -->
<!-- Feito para importar o footer para cada página individual -->
<!-- Use onde colocaria o <footer></footer> -->
<footer class="footer">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo API.png') }}" class="logo"></a>
        <ul class="fot-itens">
            <li><a href="{{ url_for('draco') }}">Team Draco</a></li>
            <li><a href="{{ url_for('sobrenos') }}">Sobre nós</a></li>
            <li><a href="{{ url_for('proposta') }}">Proposta</a></li>
        </ul>
</footer>