<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos com Chart.js</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grafico.css') }}">
    {% include 'headFH.html' %}
</head>

<body class="body">

{% include 'header.html' %}

<main class="main">
    <nav class="botoes">
        <button class="aba" onclick="mostrarGrafico('proposicoes'); toggleActive(this)">Proposições</button>
        <button class="aba" onclick="mostrarGrafico('faltas'); toggleActive(this)">Faltas</button>
        <button class="aba" onclick="mostrarGrafico('emendas'); toggleActive(this)">Emendas</button>
    </nav>
    
    <div class="container">
        <div id="graficoContainer">
            <canvas id="meuGrafico" width="600" height="300"></canvas>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='javascript/graficos.js') }}"></script>

{% include 'footer.html' %}
    
</body>
</html>
