<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gráficos com Chart.js</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grafico.css') }}" />
    {% include 'headFH.html' %}
  </head>

<body>
  {% include 'header.html' %}

    <main class="main">
      <div class="widht">
        <nav class="navigation-bar">
            <ul class="navigation-items">
              <div class="div">
                <nav class="navigation-bar">
                  <ul class="navigation-items">
                    <li class="dropdown">
                      <a href="#">Frequência</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Percentual de presença</a></li>
                        <li><a href="#">Faltas justificadas</a></li>
                        <li><a href="#">Faltas não justificadas</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Proposições</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Leis</a></li>
                        <li><a href="#">Resoluções</a></li>
                        <li><a href="#">Moções</a></li>
                        <li><a href="#">Emendas</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Comissões</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Especiais</a></li>
                        <li><a href="#">Permanentes</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Pautas</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Justiça, Redação e Direitos Humanos</a></li>
                        <li><a href="#">Ética</a></li>
                        <li><a href="#">Planejamento urbano, Obras e Tranportes</a></li>
                        <li><a href="#">Meio ambiente</a></li>
                        <li><a href="#">Economia, Finanças e Orçamento</a></li>
                        <li><a href="#">Educação e Promoção social</a></li>
                    </ul>
                </li>
                <section class="pev">
                  <a>Partido</a>
                  <div class="onoff">
                    <input type="checkbox" class="toggle" id="onoff1">
                    <label for="onoff1"></label>
                  </div>
                  <a>Vereador</a>
                </section>
            </ul>
          </li>
          <li></li>
        </ul>
      </nav>
        </nav>        
      <div class="container"> 
        <div id="graficoContainer">
          <canvas id="meuGrafico" width="600" height="300"></canvas>
        </div>
      </div>
  </main>

  {% include 'footer.html' %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='javascript/graficos.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>