<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'headFH.html' %}
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
{% include 'header.html' %}

<main>
    <section id="carousel" class="carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
            <li data-target="#carousel" data-slide-to="5"></li>
        </ol>
    
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ url_for('graficos') }}">
                <img src="{{ url_for('static', filename='images/foto_banner_gráficos.png') }}" alt="Banner Gráficos">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/foto_banner_home.png') }}" alt="Banner Home">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('vereadores_perfil') }}">
                <img src="{{ url_for('static', filename='images/foto_banner_perfil_vereadores.png') }}" alt="Banner Proposta">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('proposta') }}">
                <img src="{{ url_for('static', filename='images/foto_banner_projeto_de_lei.png') }}" alt="Banner Vereadores">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('relatorios') }}">
                <img src="{{ url_for('static', filename='images/foto_banner_relatorios.png') }}" alt="Banner Comunidade">
                </a>
            </div>
            <div class="carousel-item">
                <a href="{{ url_for('vereadores_geral') }}">
                <img src="{{ url_for('static', filename='images/foto_banner_vereadores.png') }}" alt="Banner Eventos">
                </a>
            </div>
        </div>

        <div class="rectangle left" onclick="prevSlide()">
            <span class="arrow left-arrow">&#9664;</span>
        </div>
        <div class="rectangle right" onclick="nextSlide()">
            <span class="arrow right-arrow">&#9654;</span>
        </div>

    </section>

    <section class="propostas-one">
        <section class="propostas-title">
            <h2>Últimas proposições apresentadas</h2>
        </section>
        <section class="propostas">
            <h1>Emenda nº3/2021</h1>
            <p>Acrescenta um § 3º, ao art. 30</p>
            <p><strong>Processo Nº:</strong> 12781/2021 <br> <strong>Protocolo Nº:</strong> 18221 <br> <strong>Data:</strong> 16/12/2021 <br> <strong>Situação:</strong> Arquivado</p>
            <p><strong>Autor(es) da Proposição:</strong> Ver. Amélia Naomi </p>
        </section>
        <section class="propostas">
            <h1>Projeto de Lei nº650/2021</h1>
            <p>Considera pessoa com deficiência, inclusive para os fins de ingresso na reserva percentual de vagas para o provimento de cargos e empregos públicos, o indivíduo diagnosticado com audição unilateral no âmbito do Município de São José dos Campos e dá outras providências.</p>
            <p><strong>Processo Nº:</strong> 13492/2021 <br> <strong>Protocolo Nº:</strong> 18061 <br> <strong>Data:</strong> 13/12/2021 <br> <strong>Situação:</strong> Arquivado</p>
            <p><strong>Autor(es) da Proposição:</strong> Ver. Dr. Elton</p>
        </section>
        <section class="propostas">
            <h1>Indicação nº7093/2021</h1>
            <p>Solicita à Prefeitura Municipal, estudo técnico para implantação de “Abrigo de Ônibus”, em área situada à altura do nº 755, da Rua Beijoeiro, no bairro Pousada do Vale.</p>
            <p><strong>Processo Nº:</strong> 13512/2021 <br> <strong>Protocolo Nº:</strong> 18084 <br> <strong>Data:</strong> 13/12/2021 <br> <strong>Situação:</strong> Tramitando</p>
            <p><strong>Autor(es) da Proposição:</strong> Ver. Dr. José Claudio</p>
        </section>
    </section>
    
    <section class="propostas-one">
        <section class="propostas-title">
            <h2>Últimas leis aprovadas</h2>
        </section>
        <section class="propostas">
            <h1>Projeto de Lei nº645/2021</h1>
            <p>Denomina o Auditório da Casa de Cultura Cine Santana, de “Auditório José Soares da Silva (Zé da Viola)”.</p>
            <p><strong>Processo Nº:</strong> 13298/2021 <br> <strong>Protocolo Nº:</strong> 17789 <br> <strong>Data:</strong> 08/12/2021 <br> <strong>Situação:</strong> Arquivado <br> <button>Conteúdo completo<a href="https://camarasempapel.camarasjc.sp.gov.br/legislacao/norma.aspx?id=52337"></a></button> </p>
            <p><strong>Autor(es) da Proposição:</strong> Ver. Fernando Petiti</p>
        </section>
        <section class="propostas">
            <h1>Projeto de Lei nº577/2021</h1>
            <p>Denomina a Rua 20, localizada no loteamento Terras Alpha de São José dos Campos, na Região Oeste (Urbanova), como "Rua Professor Osvaldo Ferreira Cunha".</p>
            <p><strong>Processo Nº:</strong> 12208/2021 <br> <strong>Protocolo Nº:</strong> 16262 <br> <strong>Data:</strong> 08/11/2021 <br> <strong>Situação:</strong> Arquivado <br> <button>Conteúdo completo<a href="https://camarasempapel.camarasjc.sp.gov.br/legislacao/norma.aspx?id=52335"></a></button> </p>
            <p><strong>Autor(es) da Proposição:</strong> Ver. Dr. José Claudio</p>
        </section>
        <section class="propostas">
            <h1>Projeto de Lei nº596/2021</h1>
            <p>Denomina a área verde, localizada na Rua Benedito Fraga e Silva, fronte ao n. 610, no Residencial Galo Branco, de Área Verde Francisco Ubiratan Rodrigues.</p>
            <p><strong>Processo Nº:</strong> 12479/2021 <br> <strong>Protocolo Nº:</strong> 16627 <br> <strong>Data:</strong> 17/11/2021 <br> <strong>Situação:</strong> Arquivado <br> <button>Conteúdo completo<a href="https://camarasempapel.camarasjc.sp.gov.br/legislacao/norma.aspx?id=52336"></a></button> </p>
            <p><strong>Autor(es) da Proposição:</strong> Ver. Dulce Rita</p>
        </section>
    </section>
</main>

{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
