<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/vereadores_perfil.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% include 'headFH.html' %}
    <title>Perfil Individual Vereadores</title>
  </head>
  <body>
    {% include 'header.html' %}
    <main>
      <section class="conteudo-vereador">
        <div class="flex flex-wrap md:flex-nowrap">
          <div class="info">
            <div class="card bg-white shadow-md rounded-lg flex flex-col p-4 m-4">
              <img
              src="https://camarasempapel.camarasjc.sp.gov.br/arquivo/images/pessoas/70878385417st6d28o4c.jpg"
              alt="Foto de Amélia Naomi"
              class="info-img"
            />
            </div>
            <div class="w-full md:w-3/3 p-4 flex-grow">
              <div
                class="card sticky-bottom bg-white shadow-md rounded-lg flex flex-col"
              >
                <div class="card-bodyp-4 flex-grow">
                  <h2 class="text-center text-xl font-semibold mt-2">AMÉLIA NAOMI</h2>
                  <p class="text-center">Partido dos Trabalhores (PT)</p>
                  <p class="text-center text-xl font-semibold">13500</p>
                  <p class="text-left text-sm p-2">Telefone(s): (12) 3925-6588</p>
                  <p class="text-left text-sm p-2">Email(s): amelia@camarasjc.sp.gov.br</p>
                </div>
              </div>
            </div>
          </div>
          <div class="info-2">
          </div>
          <div class="w-full md:w-2/3 p-4 flex-grow">
            <form>
              <div
                class="card bg-white shadow-md rounded-lg">
                  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                    <div>
                      <label class="font-semibold">Nome Completo:</label>
                      <span>AMÉLIA NAOMI OMURA</span>
                    </div>
                    <div>
                      <label class="font-semibold">Data de Nascimento:</label>
                      <span>12/06/1960</span>
                    </div>
                    <div>
                      <label class="font-semibold">Gênero:</label>
                      <span>Feminino</span>
                    </div>
                    <div>
                      <label class="font-semibold">Cor / Raça:</label>
                      <span>Amarela</span>
                    </div>
                    <div>
                      <label class="font-semibold">Estado Civil:</label>
                      <span>Casado(a)</span>
                    </div>
                    <div>
                      <label class="font-semibold">Grau de Instrução:</label>
                      <span>Superior Completo</span>
                    </div>
                    <div>
                      <label class="font-semibold">Ocupação:</label>
                      <span>Assistente Social</span>
                    </div>
                    <div class="col-span-2">
                      <label class="font-semibold"
                        >Nacionalidade / Naturalidade:</label
                      >
                      <span>Brasileira Nata / SP-Aparecida D'oeste</span>
                    </div>
                    <div>
                      <label class="font-semibold"
                        >Candidato a reeleição:</label
                      >
                      <span>Sim</span>
                    </div>
                    <div class="col-span-2">
                      <label class="font-semibold">Federação:</label>
                      <span
                        >Federação BRASIL DA ESPERANÇA - FE BRASIL(PT/PC do
                        B/PV)</span
                      >
                    </div>
                    <div class="col-span-2">
                      <label class="font-semibold"
                        >Limite Legal de Gastos 1º Turno:</label
                      >
                      <span class="badge bg-secondary">R$ 243.956,56</span>
                    </div>
                  </div>
              </div>
              <div class="">
                <div class="p-2">
                  <ul class="navigation-items">
                    <li class="dropdown">
                        <span class="botaobe">Biografia <i class="fa-solid fa-chevron-down"></i></span>
                        <ul class="dropdown-menu">
                            <li class="texto-be">Amélia Naomi é vereadora pelo PT, em São José dos Campos. Iniciou sua trajetória no movimento estudantil. 
                              Sua atuação é marcada pelas lutas contra a violência doméstica, pelos direitos dos trabalhadores, em defesa do meio ambiente e da cidade.</li>
                        </ul>
                    </li>
                </ul>
                </div>
              <div class="p-2">
                <ul class="navigation-items">
                  <li class="dropdown">
                      <span class="botaobe">Eleições <i class="fa-solid fa-chevron-down"></i></span>
                      <ul class="dropdown-menu">
                          <li class="texto-be">Candidato a Vereador/São José Dos Campos partido PT em 2024 Eleito por QP</li>
                          <li class="texto-be">Candidato a Vereador/São José Dos Campos partido PT em 2020 Eleito por QP</li>
                          <li class="texto-be">Candidato a Deputado Federal/São Paulo partido PT em 2018 Suplente</li>                     
                      </ul>
                  </li>
              </ul>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="conteudo-vereador">
        <section class="relatorios">
          <select class="select">
            <option>Frequência em Plenário</option>
            <option>Proposições Apresentadas</option>
            <option>Leis de sua Autoria</option>
          </select>
          <div class="chart">
            <canvas id="GraficoPerfil" width="100%" height="100%"></canvas>
          </div>
        </section>
      </section>
      <section class="comentarios">
        <section class="caixa-comentario">
          <h3>Comentários</h3>
          <ul class="lista-comentario">
            <!-- Iteração sobre os comentários -->
            <!-- {% for comentario in comentarios %}
              <li class="comentario">
                <span class="usuario">{{ comentario['usuario'] }}</span>
                <p class="texto-comentario">{{ comentario['texto'] }}</p>
              </li>
              {% else %}
              <li>Nenhum comentário ainda. Seja o primeiro a comentar!</li>
              {% endfor %} -->
          </ul>
        </section>

        <section class="caixa-comentario">
          <h3>Deixe seu comentário</h3>
          <form action="" method="post">
            <article class="box-comment">
              <label for="comment">Comentário:</label>
              <input name="comment" type="text" id="comment" />
            </article>
            <article class="button-container">
              <button class="button" type="submit">Enviar</button>
            </article>
          </form>

          <article class="avaliar">
            <h4>Avalie o Candidato</h4>
            <ul class="avaliacao">
              <li class="star-icon ativo" data-avaliacao="1"></li>
              <li class="star-icon" data-avaliacao="2"></li>
              <li class="star-icon" data-avaliacao="3"></li>
              <li class="star-icon" data-avaliacao="4"></li>
              <li class="star-icon" data-avaliacao="5"></li>
            </ul>
          </article>
        </section>
      </section>
    </main>

    {% include 'footer.html' %}

    <script>
      function toggleMenu() {
        const navMenu = document.getElementById("nav-menu");
        navMenu.classList.toggle("open");

        const hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("active");
      }

      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        if (hamburger) {
          hamburger.addEventListener("click", toggleMenu);
        }
      });
      document.querySelectorAll('.botaobe').forEach(button => {
            button.addEventListener('click', function() {
                const dropdown = this.parentElement;
                dropdown.classList.toggle('open');
            });
        });      
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='javascript/perfil.js') }}"></script>
  </body>
</html>