<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/relatorios.css" />
  {% include 'headFH.html' %}
  <title>Relatórios</title>
</head>

<body>
  {% include 'header.html' %}

  <main>

    <section class="container-relatorios2">
      <form method="GET" action="/proposicoes">
        <article class="filtros">
          <div class="item-filtro">
            <p>Tipo de Proposição</p>
            <select name="tipoID">
              <option value="">Selecione</option>
              <option value="391">Atas Anais</option>
              <option value="390">Ata Legal</option>
              <option value="401">Ata sessão extraordinária</option>
              <option value="397">Ata Sessão Ordinária</option>
              <option value="400">Ata Sessão Solene</option>
              <option value="371">Documentos Diversos</option>
              <option value="347">Emenda</option>
              <option value="378">Emenda ao Substitutivo</option>
              <option value="319">Indicação</option>
              <option value="392">Manifestação AD HOC</option>
              <option value="499">Manifestação de Suplente</option>
              <option value="341">Moção</option>
              <option value="405">Parecer da Comissão Conjunta de Justiça e Economia - Rito Prioritário</option>
              <option value="343">Parecer da Comissão de Cultura e Esportes</option>
              <option value="353">Parecer da Comissão de Economia, Finanças e Orçamento</option>
              <option value="357">Parecer da Comissão de Educação e Promoção Social</option>
              <option value="355">Parecer da Comissão de Ética</option>
              <option value="350">Parecer da Comissão de Justiça, Redação e Direitos Humanos </option>
              <option value="356">Parecer da Comissão de Meio Ambiente</option>
              <option value="352">Parecer da Comissão de Planejamento Urbano, Obras e Transportes</option>
              <option value="354">Parecer da Comissão de Saúde</option>
              <option value="369">Parecer Jurídico</option>
              <option value="316">Projeto de Decreto Legislativo</option>
              <option value="348">Projeto de Lei</option>
              <option value="367">Projeto de Lei Complementar</option>
              <option value="344">Projeto de Resolução</option>
              <option value="346">Proposta de Emenda a Lei Orgânica</option>
              <option value="406">Recurso contra Ato do Presidente</option>
              <option value="359">Redação Final</option>
              <option value="340">Requerimento</option>
              <option value="370">Subemendal</option>
              <option value="345">Substitutivo</option>
              <option value="334">Tribunal de Contas</option>
            </select>
          </div>
          <div class="item-filtro">
            <p>Nº de Proposição</p>
            <input class="input" type="text" name="numero" placeholder="Ex: 123" />
          </div>
          <div class="item-filtro">
            <p>Ano da Proposição</p>
            <input class="input" type="text" name="ano" placeholder="Ex: 2020" />
          </div>
          <div>
            <p>Autor da Proposição</p>
            <input class="input" type="text" name="autor" placeholder="Ex: Amélia Naomi" />
          </div>
          <div class="espaço-completo">
            <button class="botao-filtro1" type="submit">Buscar</button>
          </div>
        </article>
      </form>
      <section class="filtros_ativos">
        {% if tipoID %}
        <button class="botao-filtro2"
          onclick="window.location.href='/proposicoes?numero={{ numero }}&ano={{ ano }}&autor={{ autor }}'">
          Tipo: {{ tipoID }}
        </button>
        {% endif %}
        {% if numero %}
        <button class="botao-filtro2" 
        onclick="window.location.href='/proposicoes?tipoID={{ tipoID }}&ano={{ ano }}&autor={{ autor }}'">Número da Proposição: {{ numero }}</button>
        {% endif %}
        {% if ano %}
        <button class="botao-filtro2" 
        onclick="window.location.href='/proposicoes?tipoID={{ tipoID }}&numero={{ numero }}&autor={{ autor }}'">Ano Proposição: {{ ano }}</button>
        {% endif %}
        {% if autor %}
        <button class="botao-filtro2" 
        onclick="window.location.href='/proposicoes?tipoID={{ tipoID }}&numero={{ numero }}&ano={{ ano }}'">Autor: {{ autor }}</button>
        {% endif %}
      </section>
      <article class="resultados">
        <div>
          <h3>RESULTADO DA PESQUISA</h3>
        </div>

        {% for prop in proposicao['Data'] %}
        <hr />
        <div class="item_resultado">
          <h3>{{ prop['tipo'] }} Nº{{ prop['numero'] }}/{{ prop['ano'] }}</h3>
          <p>{{ prop['assunto'] }}</p>
          <p>
            <strong>Processo Nº:</strong> {{ prop['processo'] }}
            <strong>Protocolo Nº:</strong> {{ prop['protocolo'] }}
            <strong>Data:</strong> {{ prop['data'] }}
            <strong>Situação:</strong> {{ prop['situacao'] }}
          </p>
          <p>
            <strong>Autor(es) da Proposição:</strong> {{
            prop['AutorRequerenteDados']['nomeRazao'] }}
          </p>
          <a href="{{ prop['arquivo'] }}" target="_blank" class="botao-arquivo">Ver Arquivo</a>
        </div>
        {% endfor %}
        <hr>
        <div id="pagination-controls">
          {% if current_page > 1 %}
          <a href="?page={{ current_page - 1 }}&tipoID={{ tipoID }}&numero={{ numero }}&ano={{ ano }}&autor={{ autor }}"
            class="botao-paginacao">Anterior</a>

          {% endif %}

          <span> {{ current_page }} de {{ total_pages }}</span>

          {% if current_page < total_pages %} <a
            href="?page={{ current_page + 1 }}&tipoID={{ tipoID }}&numero={{ numero }}&ano={{ ano }}&autor={{ autor }}"
            class="botao-paginacao">Próxima</a>
            {% endif %}
        </div>

      </article>
    </section>
  </main>
  {% include 'footer.html' %}

  <script>
    function toggleMenu() {
      const navMenu = document.getElementById("nav-menu");
      navMenu.classList.toggle("open");

      const hamburger = document.querySelector(".hamburger");
      hamburger.classList.toggle("active");
    }

    document.addEventListener("DOMContentLoaded", function () {
      const hamburger = document.querySelector(".hamburger");
      if (hamburger) {
        hamburger.addEventListener("click", toggleMenu);
      }
    });
  </script>
</body>

</html>