<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/relatorios.css">
    {% include 'headFH.html' %}
    <title>Relatórios</title>
</head>
<body>
    
{% include 'header.html' %}

<main>
    <section class="container-relatorios">
        <article class="filtros">
            <div class="item-filtro">
                <p>Tipo de Proposição</p>
                <select>
                <option>Selecione</option>
                </select>
            </div>
            <div class="item-filtro">
                <p>Nº DE PROPOSIÇÃO</p>
                <input class="input" text" placeholder="">
            </div>
            <div class="item-filtro">
                <p>ANO DA PROPOSIÇÃO</p>
                <input class="input" type="text" placeholder="Ex: 2020">
            </div>
            <div class="espaço-completo">
                <button class="botão-filtro1">Buscar</button>
            </div>
        </article>
    </section>
    <section class="filtros_ativos">
        <button class="botão-filtro2">Tipo: Exemplo</button>
        <button class="botão-filtro2">Número da Proposição: x</button>
        <button class="botão-filtro2">Ano Proposição: XXXX</button>
    </section>
    <section class="container-relatorios2">
        <article class="resultados">
            <div>
                <h3>RESULTADO DA PESQUISA</h3>
            </div>
            <hr>
            {% for proposicao in proposicoes %}
            <div class="item_resultado">
                <h3>{{ proposicao[2] }}  n° {{proposicao[7]}}/{{proposicao[6]}}</h3>
                <p>{{proposicao[8]}}</p>
                <p><strong>Processo Nº:</strong> {{proposicao[5]}}/{{proposicao[6]}} <strong>Protocolo Nº:</strong> {{proposicao[0]}} <strong>Data:</strong> {{proposicao[4]}} <strong>Situação:</strong> {{proposicao[3]}}</p>
                <p><strong>Autor(es) da Proposição:</strong> {{proposicao[1]}} </p>
            </div>
            <hr>
            {% endfor %}
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
            </ul>
        </article>
    </section>
</main>

{% include 'footer.html' %}

</body>
</html>