<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/relatorios.css">
    {% include 'headFH.html' %}
    <title>Home</title>
</head>
<body>
{% include 'header.html' %}

<main>
    <section class="container-relatorios">
        <article class="filtros">
            <div class="item-filtro">
                <p>Tipo de Proposição</p>
                <select>
                <option>Selecione</option>
                </select>
            </div>
            <div class="item-filtro">
                <p>Nº DE PREPOSIÇÃO</p>
                <input type="text" placeholder="">
            </div>
            <div class="item-filtro">
                <p>ANO DA PREPOSIÇÃO</p>
                <input type="text" placeholder="Ex: 2020">
            </div>
            <div class="espaço-completo">
                <button class="botão-filtro1">Buscar</button>
            </div>
        </article>
    </section>
    <section class="filtros_ativos">
        <button class="botão-filtro2">Tipo: Exemplo</button>
        <button class="botão-filtro2">Número da Preposição: x</button>
        <button class="botão-filtro2">Ano Proposição: XXXX</button>
    </section>
    <section class="container-relatorios2">
        <article class="resultados">
            <div>
                <h3>RESULTADO DA PESQUISA</h3>
            </div>
            <hr>
            <div class="item_resultado">
                <h3>Emenda nº3/2021</h3>
                <p>Acrescenta um § 3º, ao art. 30</p>
                <p><strong>Processo Nº:</strong> 12781/2021 <strong>Protocolo Nº:</strong> 18221 <strong>Data:</strong> 16/12/2021 <strong>Situação:</strong> Arquivado</p>
                <p><strong>Autor(es) da Proposição:</strong> Ver. Amélia Naomi </p>
            </div>
            <hr>
            <div class="item_resultado">
                <h3>Projeto de Lei nº650/2021</h3>
                <p>Considera pessoa com deficiência, inclusive para os fins de ingresso na reserva percentual de vagas para o provimento de cargos e empregos públicos, o indivíduo diagnosticado com audição unilateral no âmbito do Município de São José dos Campos e dá outras providências.</p>
                <p><strong>Processo Nº:</strong> 13492/2021 <strong>Protocolo Nº:</strong> 18061 <strong>Data:</strong> 13/12/2021 <strong>Situação:</strong> Arquivado</p>
                <p><strong>Autor(es) da Proposição:</strong> Ver. Dr. Elton</p>
            </div>
            <hr>
        </article>
    </section>
</main>

{% include 'footer.html' %}
</body>
</html>