<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/vereadores_perfil.css" />
    {% include 'headFH.html' %}
    <title>Perfil Individual Vereadores</title>
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <section class="conteudo-vereador">
        <section class="imgecoisas">
          <img src="{{ parlamentar['parlamentarFoto'] }}" class="img-vereador" alt=" Vereador {{ parlamentar['parlamentarNome'] }}"/>
          <section class="info-vereador">
            <p>Vereador: {{ parlamentar['parlamentarNome'] }}</p>
          </section>
          <article class="info-vereador">
            <p>Partido: {{ parlamentar['partidoNome'] }} ({{ parlamentar['partidoSigla'] }})</p>
            <hr />
            <p>Telefone(s): {{ parlamentar['parlamentarTelefone'] }}</p>
            <hr />
            <p>Email: <a href="mailto:{{ parlamentar['parlamentarEmail'] }}">{{ parlamentar['parlamentarEmail'] }}</a></p>
          </article>
        </section>

        <section class="relatorios">
          <select class="select" >
            <option>Frequência em Plenário</option>
            <option>Proposições Apresentadas</option>
            <option>Leis de sua Autoria</option>
          </select>
          <div class="chart">
            <canvas id="GraficoPerfil" width="100%" height="100%"></canvas>
          </div>
        </section>

        <section class="sobre-vereador">
          <h1>Sobre o vereador</h1>
          <p>
            {{ parlamentar['parlamentarPerfil'] | safe }}
          </p>

          <h1>Comissão Atuante</h1>
          <ul>
            {% for comissao in parlamentar['comissoesAtuantes'] %}
            <li>
              <strong>Comissão:</strong> {{ comissao['comissaoNome'] }} <br>
              <strong>Cargo:</strong> {{ comissao['comissaoCargo'] }}<br><br>
              
            </li>
            
            {% endfor %}
          </ul>
        </section>
      </section>
      <section class="comentarios">
        <section class="caixa-comentario">
          <h3>Comentários</h3>
          <ul class="lista-comentario">
            <!-- Iteração sobre os comentários -->
              <!-- {% for comentario in comentarios %}
              <li class="comentario">
                <span class="usuario">{{ comentario['usuario'] }}</span>
                <p class="texto-comentario">{{ comentario['texto'] }}</p>
              </li>
              {% else %}
              <li>Nenhum comentário ainda. Seja o primeiro a comentar!</li>
              {% endfor %} -->
          </ul>
        </section>

        <section class="caixa-comentario">
          <h3>Deixe seu comentário</h3>
          <form action="" method="post">
            <article class="box-comment">
              <label for="comment">Comentário:</label>
              <input name="comment" type="text" id="comment" />
            </article>
            <article class="button-container">
              <button class="button" type="submit">Enviar</button>
            </article>
          </form>

          <article class="avaliar">
            <h4>Avalie o Candidato</h4>
            <ul class="avaliacao">
              <li class="star-icon ativo" data-avaliacao="1"></li>
              <li class="star-icon" data-avaliacao="2"></li>
              <li class="star-icon" data-avaliacao="3"></li>
              <li class="star-icon" data-avaliacao="4"></li>
              <li class="star-icon" data-avaliacao="5"></li>
            </ul>

          </article>
        </section>
      </section>
    </main>

    {% include 'footer.html' %}

    <script>
      function toggleMenu() {
        const navMenu = document.getElementById("nav-menu");
        navMenu.classList.toggle("open");

        const hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("active");
      }

      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        if (hamburger) {
          hamburger.addEventListener("click", toggleMenu);
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='javascript/perfil.js') }}"></script>
  </body>
</html>
