<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/vereadores_perfil.css" />
    {% include 'headFH.html' %}
    <title>Perfil Individual Vereadores</title>
  </head>
  <body>
    {% include 'header.html' %}

    <main>
      <section class="conteudo-vereador">
        <section class="imgecoisas">
          <img src="../static/images/Vereador Roberto do Eleven.jpg"
            class="img-vereador"
            alt="Vereador Roberto do Eleven"/>
          <section class="info-vereador">
            <option>Vereador: Roberto do Eleven</option>
          </section>
          <article class="info-vereador">
            <p>Partido: Partido Social Democrático (PSD)</p>
            <hr />
            <p>Telefone(s): (12)3925-6568</p>
            <hr />
            <p>Email: robertodoeleven@camarasjc.sp.gov.br</p>
          </article>
        </section>
        <section class="relatorios">
          <select class="select">
            <option>Frequência em Plenário</option>
            <option>Proposições Apresentadas</option>
            <option>Leis de sua Autoria</option>
            <option>Posicionamento em Votações</option>
            <option>Comissões</option>
          </select>
          <article class="chart">
            <canvas id="BarChart" width="100%" height="100%"></canvas>
          </article>
        </section>
        <section class="sobre-vereador">
          <h1>Sobre o vereador</h1>
          <p>
            Roberto Do Eleven (número de urna 55111) é candidato à Prefeitura de
            São José Dos Campos pelo PSD nas Eleições 2024. Nascido em Caxambu
            (MG) em 02/11/1964, tem 59 anos, é comerciante com superior completo
            e separado judicialmente.
          </p>
          <h1>Eleições anteriores</h1>
          <ul>
            <li>
              <strong>ANO:</strong> 2012 <strong>CARGO:</strong> VEREADOR
              <strong>PARTIDO:</strong> PP <strong>SITUAÇÃO:</strong> ELEITO POR
              QP
            </li>
            <li>
              <strong>ANO:</strong> 2016 <strong>CARGO:</strong> VEREADOR
              <strong>PARTIDO:</strong> PRB <strong>SITUAÇÃO:</strong> ELEITO
              POR MÉDIA
            </li>
            <li>
              <strong>ANO:</strong> 2020 <strong>CARGO:</strong> VEREADOR
              <strong>PARTIDO:</strong> PSDB <strong>SITUAÇÃO:</strong> ELEITO
              POR MÉDIA
            </li>
          </ul>
        </section>
      </section>
      <section class="comentarios">
        <section class="caixa-comentario">
          <h3>Comentários</h3>
          <ul class="lista-comentario">
            <li class="comentario">
              <span class="usuario">Anônimo</span>
              <p class="texto-comentario">Este é um comentário anônimo.</p>
            </li>
            <li class="comentario">
              <span class="usuario">Anônimo</span>
              <p class="texto-comentario">Outro comentário interessante.</p>
            </li>
          </ul>
        </section>
        <section class="caixa-comentario">
          <h3>Deixe seu comentário</h3>
          <form action="#" method="post">
            <article class="box-comment">
              <label for="comment">Comentário:</label>
              <input name="comment" type="text" id="comment" />
            </article>
            <article class="button-container">
              <button class="button" type="submit">Enviar</button>
            </article>
          </form>
          <article class="avaliar">
            <h4>Avalie o Candidato</h4>
            <ul class="avaliacao">
              <li class="star-icon ativo" data-avaliacao="1"></li>
              <li class="star-icon" data-avaliacao="2"></li>
              <li class="star-icon" data-avaliacao="3"></li>
              <li class="star-icon" data-avaliacao="4"></li>
              <li class="star-icon" data-avaliacao="5"></li>
            </ul>
            <script>
              var stars = document.querySelectorAll(".star-icon");
              document.addEventListener("click", function (e) {
                var classStar = e.target.classList;
                if (!classStar.contains("ativo")) {
                  stars.forEach(function (star) {
                    star.classList.remove("ativo");
                  });
                  classStar.add("ativo");
                  console.log(e.target.getAttribute("data-avaliacao"));
                }
              });
            </script>
          </article>
        </section>
      </section>
    </main>

    {% include 'footer.html' %}
    <script>
      function toggleMenu() {
        const navMenu = document.getElementById("nav-menu");
        navMenu.classList.toggle("open");

        const hamburger = document.querySelector(".hamburger");
        hamburger.classList.toggle("active");
      }

      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.querySelector(".hamburger");
        if (hamburger) {
          hamburger.addEventListener("click", toggleMenu);
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/javascript/perfil.js"></script>
  </body>
</html>
