<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/vereadores_geral.css">
    {% include 'headFH.html' %}
    <title>Vereadores</title>
</head>
<body>
{% include 'header.html' %}

<main>
    <section class="Vereadores-geral">
        <section class="vereador">
            <img src="../static/images/Vereador Roberto do Eleven (menor).jpg" alt="Vereador Roberto do Eleven">
            <article class="info-vereador">
                <p>Vereador(a): Roberto do Eleven</p>
                <p>Partido: Partido Social Democrático (PSD)</p>
            </article>
            <article class="button-container">
               <a href=" {{ url_for('vereadores_perfil')}}"><button class="button" type="button" >Ver Perfil</button></a> 
            </article>
        </section>
        <section class="vereador">
            <img src="../static/images/Vereador Lino Bispo.jpg" alt="Vereador Lino Bispo">
            <article class="info-vereador">
                <p>Vereador(a): Lino Bispo</p>
                <p>Partido: Partido Liberal (PL)</p>
            </article>
            <article class="button-container">
                <button class="button" type="button">Ver Perfil</button>
            </article>
        </section>
        <section class="vereador">
            <img src="../static/images/Vereador Milton Vieira Filho.jpg" alt="Vereador Milton Vieira Filho">
            <article class="info-vereador">
                <p>Vereador(a): Milton Vieira Filho</p>
                <p>Partido: Republicanos (Republicados)</p>
            </article>
            <article class="button-container">
                <button class="button" type="button">Ver Perfil</button>
            </article>
        </section>
        <section class="vereador">
            <img src="../static/images/Vereador Thomaz Henrique.jpg" alt="Thomaz Henrique">
            <article class="info-vereador">
                <p>Vereador(a): Thomaz Henrique</p>
                <p>Partido: Partido Liberal (PL)</p>
            </article>
            <article class="button-container">
                <button class="button" type="button">Ver Perfil</button>
            </article>
        </section>
        <section class="vereador">
            <img src="../static/images/Vereador Marcelo Garcia.jpg" alt="Marcelo Garcia">
            <article class="info-vereador">
                <p>Vereador(a): Marcelo Garcia</p>
                <p>Partido: Partido Renovação Democrática (PRD)</p>
            </article>
            <article class="button-container">
                <button class="button" type="button">Ver Perfil</button>
            </article>
        </section>
        <section class="vereador">
            <img src="../static/images/Vereador Zé Luis.jpg" alt="Vereador Zé Luis">
            <article class="info-vereador">
                <p>Vereador(a): Zé Luis</p>
                <p>Partido: Partido Social Democrático (PSD)</p>
            </article>
            <article class="button-container">
                <button class="button" type="button">Ver Perfil</button>
            </article>
        </section>
    </section>
</main>

{% include 'footer.html' %}
</body>
</html>