<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/vereadores_geral.css">
    {% include 'headFH.html' %}
    <title>Vereadores</title>
</head>
<body>
{% include 'header.html' %}
<main>
    <section class="vereadores-geral">
        {% for parlamentar in parlamentares %}
        <section class="vereador">
            <img src="{{parlamentar['parlamentarFoto']}}" alt="Vereador">
            <article class="info-vereador">
                <p>Vereador(a): {{ parlamentar['parlamentarNome'] }}</p>
                <p>Partido:  {{ parlamentar['partidoNome'] }} ({{parlamentar['partidoSigla'] }})</p>
            </article>
            <article class="button-container">
               <a href=" {{ url_for('vereadores_perfil')}}"><button class="button" type="button" >Ver Perfil</button></a> 
            </article>
        </section>
        {%endfor%}
    </main>
        {% include 'footer.html' %}

<script>
    function toggleMenu() {
        const navMenu = document.getElementById('nav-menu');
        navMenu.classList.toggle('open');

        const hamburger = document.querySelector('.hamburger');
        hamburger.classList.toggle('active');
    }

    document.addEventListener("DOMContentLoaded", function() {
        const hamburger = document.querySelector('.hamburger');
        if (hamburger) {
            hamburger.addEventListener('click', toggleMenu);
        }
    });
</script>
</body>
</html>